.latest-products {
  height: 750px;
  display: flex;
  flex-direction: column;
  margin: 0px 380px;
  h2 {
    margin-left: 20px;
    span {
      border-bottom: 2px solid orange;
    }
  }
  .products-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}
